In [52]:
import pandas as pd
import numpy as np
import pickle5
import pickle
import matplotlib.pyplot as plt
import glob
import os

In [53]:
def GetGap(optimal,predicted_tours):

    sm = []
    for i1,i2 in zip(optimal,predicted_tours):
    
        gap = i2-i1
        
        sm.append(gap/i1)
   
    
    return np.mean(sm)*100

In [54]:
our_results = pickle.load(open("eval.pkl","rb"))

In [55]:
our_results[(20, 'G1')].keys()

dict_keys(['time', 'mean_gap', 'max_gap', 'min_gap', 'perf'])

In [56]:
kool_results = {}

instance_names = ["G1", "G2_2", "G3_1", "G3_2", "G3_3", "G4", "SG", "US", "UR", "NS", "NR"]
instance_sizes = [20,50,100]

for name in instance_names:
    for size in instance_sizes:
        directory_path = 'results/tsp/scaled_{}_{}'.format(name,size)
        files = glob.glob(os.path.join(directory_path, '*'))

        if len(files) == 1:
            # Get the file path
            file_path = files[0]
        kool_results[(size,name)] = {}
        kool_results[(size,name)]["res"] = pickle5.load(open(file_path,"rb"))
        kool_results[(size,name)]["time"] = float(file_path[-13:-4])
    

optimal_tours = pickle.load(open("optimal.pkl","rb"))


for key in kool_results:
    kool_results[key]["res"] = [item[0]*1000 for item in kool_results[key]["res"][0]]

In [57]:
for key in kool_results:
    kool_results[key]["mean_gap"] = GetGap(optimal_tours[key],kool_results[key]["res"])
    kool_results[key]["max_gap"] = np.max(np.array(kool_results[key]["res"])/optimal_tours[key])
    kool_results[key]["min_gap"] = np.max(np.array(kool_results[key]["res"])/optimal_tours[key])
    kool_results[key]["perf"] = (np.array(kool_results[key]["res"])/optimal_tours[key])-1
    del kool_results[key]["res"]

1.330006

In [43]:
our_results[(20, 'G1')].keys()

dict_keys(['time', 'mean_gap', 'max_gap', 'min_gap', 'perf'])

In [59]:
for key in kool_results:
    print(key, our_results[key]["mean_gap"],kool_results[key]["mean_gap"])
    print(key, our_results[key]["time"],kool_results[key]["time"])
    print("************************************")

(20, 'G1') 0.8602000380402834 3.877074961006103
(20, 'G1') 1.8990099430084229 0.20021
************************************
(50, 'G1') 3.342558636577807 26.722153408114234
(50, 'G1') 7.28010630607605 0.517078
************************************
(100, 'G1') 5.629386329111288 78.48308539601166
(100, 'G1') 32.959229946136475 1.322848
************************************
(20, 'G2_2') 0.8556787315016002 3.85746246212932
(20, 'G2_2') 1.988631010055542 0.200362
************************************
(50, 'G2_2') 3.2673591737219856 27.036171408899044
(50, 'G2_2') 7.202844619750977 0.521377
************************************
(100, 'G2_2') 5.498849291118392 88.48085677082419
(100, 'G2_2') 32.61657214164734 1.322182
************************************
(20, 'G3_1') 0.49843277893996446 1.785445936147589
(20, 'G3_1') 1.9585812091827393 0.197283
************************************
(50, 'G3_1') 2.8762657027355525 67.76009321893773
(50, 'G3_1') 6.852731704711914 0.517511
************************************
(100, 'G3_1') 5.996693004442911 74.94275938481255
(100, 'G3_1') 33.137593507766724 1.32799
************************************
(20, 'G3_2') 0.7834714664443885 3.5737796358864244
(20, 'G3_2') 1.9782228469848633 0.199096
************************************
(50, 'G3_2') 3.278930713603392 92.45631681592788
(50, 'G3_2') 7.311215877532959 0.522447
************************************
(100, 'G3_2') 5.427517152765659 123.99021640537448
(100, 'G3_2') 33.351638317108154 1.312525
************************************
(20, 'G3_3') 0.7481050681490786 4.129754620035056
(20, 'G3_3') 1.9262399673461914 0.1993
************************************
(50, 'G3_3') 3.1046270632016997 104.12338195600964
(50, 'G3_3') 6.526639699935913 0.52044
************************************
(100, 'G3_3') 5.283563922735707 133.67751523628587
(100, 'G3_3') 33.10876822471619 1.321001
************************************
(20, 'G4') 0.6215200122879121 37.57332370445417
(20, 'G4') 1.9731988906860352 0.198583
************************************
(50, 'G4') 2.4264367107882623 135.47824376586107
(50, 'G4') 6.868883371353149 0.5202
************************************
(100, 'G4') 4.426795740721063 138.46702182510924
(100, 'G4') 35.15898585319519 1.320507
************************************
(20, 'SG') 1.0205219141526582 1.2702244617741028
(20, 'SG') 1.912043571472168 0.198262
************************************
(50, 'SG') 3.7772807894454563 17.042833823452515
(50, 'SG') 7.290339469909668 0.5254
************************************
(100, 'SG') 6.3771585675572995 93.29862213407175
(100, 'SG') 32.86957550048828 1.312876
************************************
(20, 'US') 1.2237074168110216 0.27948143921076585
(20, 'US') 1.9683191776275635 0.197898
************************************
(50, 'US') 4.424156195420768 1.6326716153846035
(50, 'US') 6.891610145568848 0.515989
************************************
(100, 'US') 6.59384175179321 4.3316279544214655
(100, 'US') 30.81420874595642 1.329446
************************************
(20, 'UR') 0.7148932552326969 17.209082827370505
(20, 'UR') 1.9718899726867676 0.19878
************************************
(50, 'UR') 2.980634395171758 84.8418519096352
(50, 'UR') 7.308507204055786 0.520706
************************************
(100, 'UR') 5.128421866096464 132.1850556863713
(100, 'UR') 32.945762157440186 1.425105
************************************
(20, 'NS') 1.0003053384789822 0.546790287949756
(20, 'NS') 1.9791090488433838 0.197399
************************************
(50, 'NS') 3.8216958124073455 3.1460633303466836
(50, 'NS') 7.273146867752075 0.520231
************************************
(100, 'NS') 5.913192280438652 7.902667402456874
(100, 'NS') 30.598096132278442 1.334997
************************************
(20, 'NR') 0.6257110592105779 16.106784235345003
(20, 'NR') 2.123394012451172 0.196476
************************************
(50, 'NR') 2.5061725630850256 80.14412169409346
(50, 'NR') 7.29375433921814 0.522362
************************************
(100, 'NR') 4.292702278410031 118.78992987227043
(100, 'NR') 33.173643589019775 1.330006
************************************

In [68]:
df = {}
for size in instance_sizes:
    res_list = []
    time_list = []
    for name in instance_names:
        res_list.append(our_results[size,name]["mean_gap"])
        time_list.append(our_results[size,name]["time"])

    res_list.append(np.mean(time_list))
    df[("Our Method",size)] = res_list


for size in instance_sizes:
    res_list = []
    time_list = []
    for name in instance_names:
        res_list.append(kool_results[(size,name)]["mean_gap"])
        time_list.append(kool_results[(size,name)]["time"])

    res_list.append(np.mean(time_list))
    df[("Kool et al.",size)] = res_list

In [71]:
df.keys()

dict_keys([('Our Method', 20), ('Our Method', 50), ('Our Method', 100), ('Kool et al.', 20), ('Kool et al.', 50), ('Kool et al.', 100)])

In [72]:
df[('Kool et al.', 20)]

[3.877074961006103,
 3.85746246212932,
 1.785445936147589,
 3.5737796358864244,
 4.129754620035056,
 37.57332370445417,
 1.2702244617741028,
 0.27948143921076585,
 17.209082827370505,
 0.546790287949756,
 16.106784235345003,
 0.19851354545454544]

In [81]:
df_ = pd.DataFrame.from_dict(df, orient='index')
df_ = df_.round(1)

In [82]:
df_.columns = instance_names + ["Time(s)"]
df_

,G1,G2_2,G3_1,G3_2,G3_3,G4,SG,US,UR,NS,NR,Time(s)
"(Our Method, 20)",0.9,0.9,0.5,0.8,0.7,0.6,1.0,1.2,0.7,1.0,0.6,2.0
"(Our Method, 50)",3.3,3.3,2.9,3.3,3.1,2.4,3.8,4.4,3.0,3.8,2.5,7.1
"(Our Method, 100)",5.6,5.5,6.0,5.4,5.3,4.4,6.4,6.6,5.1,5.9,4.3,32.8
"(Kool et al., 20)",3.9,3.9,1.8,3.6,4.1,37.6,1.3,0.3,17.2,0.5,16.1,0.2
"(Kool et al., 50)",26.7,27.0,67.8,92.5,104.1,135.5,17.0,1.6,84.8,3.1,80.1,0.5
"(Kool et al., 100)",78.5,88.5,74.9,124.0,133.7,138.5,93.3,4.3,132.2,7.9,118.8,1.3

In [83]:
df_.to_clipboard()

In [87]:
df_.index.tolist()

[('Our Method', 20),
 ('Our Method', 50),
 ('Our Method', 100),
 ('Kool et al.', 20),
 ('Kool et al.', 50),
 ('Kool et al.', 100)]

In [88]:
idx = [('Our Method', 20),
 ('Kool et al.', 20),
 ('Our Method', 50),
 ('Kool et al.', 50),
 ('Our Method', 100),
 ('Kool et al.', 100)]

In [95]:
df_.loc[idx]

,G1,G2_2,G3_1,G3_2,G3_3,G4,SG,US,UR,NS,NR,Time(s)
"(Our Method, 20)",0.9,0.9,0.5,0.8,0.7,0.6,1.0,1.2,0.7,1.0,0.6,2.0
"(Kool et al., 20)",3.9,3.9,1.8,3.6,4.1,37.6,1.3,0.3,17.2,0.5,16.1,0.2
"(Our Method, 50)",3.3,3.3,2.9,3.3,3.1,2.4,3.8,4.4,3.0,3.8,2.5,7.1
"(Kool et al., 50)",26.7,27.0,67.8,92.5,104.1,135.5,17.0,1.6,84.8,3.1,80.1,0.5
"(Our Method, 100)",5.6,5.5,6.0,5.4,5.3,4.4,6.4,6.6,5.1,5.9,4.3,32.8
"(Kool et al., 100)",78.5,88.5,74.9,124.0,133.7,138.5,93.3,4.3,132.2,7.9,118.8,1.3